COMPOSE_PROJECT_NAME=ros2-humble-env
USER_NAME=ros
USER_UID=1000
USER_GID=1000
ROS_DOMAIN_ID=0
TZ=Asia/Shanghai
# Uncomment these if you want Docker build steps to use the host proxy.
# Docker daemon/client proxy can still be 127.0.0.1; build containers should use host.docker.internal.
# BUILD_HTTP_PROXY=http://host.docker.internal:17891
# BUILD_HTTPS_PROXY=http://host.docker.internal:17891
# BUILD_ALL_PROXY=socks5://host.docker.internal:17891
# BUILD_NO_PROXY=localhost,127.0.0.0/8,::1
UBUNTU_APT_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/ubuntu
ROS_APT_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/ros2/ubuntu
ROS_KEY_URL=https://mirrors.tuna.tsinghua.edu.cn/rosdistro/ros.key
PYPI_MIRROR=https://pypi.tuna.tsinghua.edu.cn/simple
UV_PYTHON_INSTALL_MIRROR=
HF_ENDPOINT=https://hf-mirror.com
GIT_URL_REWRITE_FROM=https://github.com/
GIT_URL_REWRITE_TO=
OPENPI_REPO=https://github.com/Physical-Intelligence/openpi.git
OPENPI_REF=main
OPENPI_POLICY_CONFIG=pi05_droid
OPENPI_SOURCE_CHECKPOINT=gs://openpi-assets/checkpoints/pi05_droid
OPENPI_CHECKPOINT=/home/ros/.cache/openpi/pytorch-checkpoints/pi05_droid
OPENPI_AUTO_CONVERT_PYTORCH=1
OPENPI_POLICY_PORT=8000
PI0_POLICY_HOST=127.0.0.1
BUILD_WS_ON_START=1
OH_MY_ZSH_REPO=https://gitee.com/mirrors/oh-my-zsh.git
ZSH_AUTOSUGGESTIONS_REPO=https://gitee.com/mirrors/zsh-autosuggestions.git
ZSH_SYNTAX_HIGHLIGHTING_REPO=https://gitee.com/mirrors/zsh-syntax-highlighting.git
