COMPOSE_PROJECT_NAME=ros2-humble-env
USER_NAME=ros
USER_UID=1000
USER_GID=1000
ROS_DOMAIN_ID=0
TZ=Asia/Shanghai
ROS_APT_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/ros2/ubuntu
ROS_KEY_URL=https://mirrors.tuna.tsinghua.edu.cn/rosdistro/ros.key
OH_MY_ZSH_REPO=https://gitee.com/mirrors/oh-my-zsh.git
ZSH_AUTOSUGGESTIONS_REPO=https://gitee.com/mirrors/zsh-autosuggestions.git
ZSH_SYNTAX_HIGHLIGHTING_REPO=https://gitee.com/mirrors/zsh-syntax-highlighting.git
